<div class="card mt-5" class="shadow-effect mt-3">
    <div class="card-body">
        <h4 class="p-2">Leave a comment </h4>
        <p class="px-2">You can leave a comment using this comment form</p>
        <form action="" >
            <div class="form-group">
                <label for="name" class="p-2">Name</label>
                <input type="text" class="form-control shadow-effect p-3" placeholder="Enter your name hare" id="name">
            </div>

            <div class="form-group">
                <label for="comment"class="p-2">Comment</label>
                <textarea name="" id="comment" cols="30" rows="10" class="form-control shadow-effect" placeholder="Add your comment here!"></textarea>
           
            </div>
            <button type="submit" class="btn btn-info m-3 p-2">Add a comment</button>
        </form>
    </div>
</div>